body{
    background: #dee3ed;
    padding: 0;
    font-family: sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
}

header h1{
    font-size: 20px;
}

.text{
    max-width: 100%;
    min-height: 300px;
    block-size: fit-content;
    display: block;
    position: relative;
    padding: 1rem 0.5rem;
    margin: 2rem auto;
    background: #ffffff;

    border: 1px solid #e7d531;
    font-family: sans-serif;
    outline: none;
}

.block, .buttons{
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 20px;
}
.block{
    display: flex;
    flex-direction: column;
}
.block input, 
.block label{
    padding: 20px 40px;
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
    background: transparent;
    background: #e7d531;
    border: none;
    transition: background 0.3s;
    text-align: center;
}

.block input:hover{
    background: #e7d5318f;
}

.access{
    color: rgb(14, 3, 43);
    font-family: sans-serif;
}

.access-copy{
    background: antiquewhite;
    color: #000;
}

@media (min-width: 280px) {
    .text{
        width: 250px !important;    
    }


    .buttons{
        display: flex;
        flex-direction: column;
    }
    
}

@media (min-width: 380px) {
    .text{
       min-width: 280px;   
    }
    
}


@media (min-width: 576px) {
    .text{
       width: 500px !important;
       min-width: 450px;   
    }
    .buttons{
        flex-direction: row;
    }
    .block input{
        margin-right: 1rem;}
    
}

.keys{
    overflow: hidden;
   height: 0;
    
}


.keys.hide{
     animation: hide 0.5s  forwards  ease-in-out ;
  
}
@keyframes hide{
    from{

        height: 100px;
    }

    to{
        height: 0;
    }
}


.keys.active{
    animation: show 0.5s  forwards  ease-in-out ;
}

@keyframes show{
    from{
        height: 0;
    }

    to{
        height: 100px;
    }
}

.hotkey{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
}

.hotkey h3{
    cursor: pointer;
    position: relative;
}

.hotkey h3::before,
.hotkey h3::after,
.title h3::before,
.title H3::after
{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    background: #000;
    bottom: 0;
    animation: arrow 5s 1s infinite ease-in-out ;
}

@keyframes arrow {
        0%{
            bottom:0;
        }

        5%{
            bottom: -5px;
        }

        15%{
            bottom: 0;
        }

   
        100%{bottom: 0;}    
}

.hotkey h3:before,
.title h3::before{
    left: 0;
    transform: rotateZ(4deg);
}

.hotkey h3:after,
.title H3::after{
    right: 0;
    transform: rotateZ(-4deg);
}

.hotkey code{
	font-size: 13px;
    font-weight: 600;
}
.hotkey p{
    font-size: 13px;
text-align: center;
}

.hidden{display:none}

.info{
    display: flex;
    flex-direction: column;
}

.info p{
    font-size: 14px;
}

.gray{
    background: #ccc;
    padding: 5px;
}

.lang{
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  
}
.lang a{
	padding: 5px;
	border-radius:5px;
	}

.lang a.active{	background: linear-gradient(#0057b8 50%, #ffd700 50%); font-weight: 600; cursor: none;}

.lang a.activeRU{background: linear-gradient(#fff 30%, #088CE8, #fff 75% ); font-weight: 600; cursor: none;}

.lang span{padding-right: 2px;}
	
.blue{color: blue;}
.yellow{color:yellow}

.ru{
    text-transform: uppercase;
}


.manual{
    position: relative;
    text-align: center;
    padding: 10px;
}

.title h3{
    display: inline;
    position: relative;
    cursor: pointer;
}

.manual__codes{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
    padding: 15px 0;
}

.col{
    width: 100%;
    padding: 15px;
}

@media(min-width:756px){

    .manual__codes{
       flex-direction: row;
    }
    .col{
        width: 33.3%;
    }
}